.main p{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 900;
}
body{
    background-color:orange;
}
[type=text]{
    background-color:black;
    color:white;
}
[type=button]{
    background-color: tomato;
}
#result{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}